{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "strict": ["error", "global"],
    "import/no-unresolved": "off",
    "import/extensions": "off",
  }
}
